<div >
  <h1>{{::ctrl.title}}</h1>
  <div class="row">
  </div>

  <button class="btn" ng-class="{ red: ctrl.showList }" ng-click="ctrl.toggleList()">Toggle list</button>
  <ul class="collection" ng-if="ctrl.showList">
    <li class="collection-item" ng-repeat="person in ctrl.contacts">
      <span class="title">{{ $index +1 }}: {{ person.name }}</span>
      <p>{{ person.username }}<br>{{person.email}}</p>
    </li>
  </ul>
</div>
<!-- Child controllers
<div ng-controller="ContactsListController">
  <h2>{{ random }}</h2>
  <div ng-controller="ChildController">
    <h2>{{ random }}</h2>
  </div>
</div> -->

