<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Contacts App</a>
        <ul class="right">
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
      <div ng-controller="ContactsListController as ctrl">
        <h1>{{ctrl.title}}</h1>

        <div class="row">
          <form class="col s12" novalidate name="addForm" ng-submit="ctrl.addContact(newContact)">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="name" required ng-model="newContact.name">
                <label for="name">Name:</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="username" required ng-model="newContact.username">
                <label for="username">Username:</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="email" id="email" required ng-model="newContact.email">
                <label for="email">Email:</label>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn" ng-disabled="addForm.$invalid">Add contact</button>
            </div>
          </form>
        </div>

        <button class="btn" ng-class="{ red: ctrl.showList }" ng-click="ctrl.toggleList()">Toggle list</button>
        <ul class="collection" ng-if="ctrl.showList">
          <li class="collection-item" ng-repeat="person in ctrl.contacts">
            <span class="title">{{ $index +1 }}: {{ person.name }}</span>
            <p>{{ person.username }}<br>{{person.email}}</p>
          </li>
        </ul>
      </div>
        <!-- Child controllers
        <div ng-controller="ContactsListController">
          <h2>{{ random }}</h2>
          <div ng-controller="ChildController">
            <h2>{{ random }}</h2>
          </div>
        </div> -->

      </div>
    </main>
  </body>
</html>
